<div>
    <a href="/signin">signIn</a><br><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button onClick="login()">Login</button>

</div>