<div>
    <a href="/login">login</a><br><br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="email">Confirm Password:</label>
    <input type="password" id="confirmpassword" name="confirmpassword" required><br><br>

    <button onClick="signIn()">signIn</button>

</div>